/* This is a Custom css style sheet */

/* start home section*/


*{
	margin: 0px;
	padding: 0px;
	
}
.container{
	width: 960px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.flag{
	margin-bottom: 10px;
	margin-top: 10px;	
}

.logo{
	margin-bottom: 10px;
	margin-top: 10px;
}

.logo-img{
	width: 120px;
	height:40px;
	float: left;
}


.irish-flag{
	
	width: 55px;
	height:25px;
	float: right;
	margin-top: 10px;
}



.social{	
	height: 60px;
	//margin-left: 10px;
	//margin-right: 40px;;
	border-radius: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;	
	font-size: 20px;
}

.social .social-btns{
	//margin-left: 30px;
	//margin-right: 30px;
	margin-top: 35px;
	
	
}

.social-btn{
	width: 240px;
	height: 45px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	vertical-align: center;
	border-radius: 6px 6px 6px 6px ;
	font: 600 16px/1.5 "Open Sans","Helvetica Neue",sans-serif;
	color: #fff;
	
	
	
}

.twitter{
	background-color: #55acee;
	opacity: .6;
	color: #fff;
}

.facebook{
	background-color: #3b5999;
	opacity: .6;
	color: #fff;
}

.google{
	background-color: #dd4b39;
	opacity: .6;
	color: #fff;
}


.twitter:hover{
	background-color: #55acee;
	opacity: 1;
	color: #fff;
}

.facebook:hover{
	background-color: #3b5999;
	opacity: 1;
	color: #fff;
}

.google:hover{
	background-color: #dd4b39;
	opacity: 1;
	color: #fff;
}




.social .creat-acount{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	text-decoration: underline;
	//margin-left: 300px;
	overflow: hidden;
	
}

.go-bussines{
	overflow: hidden;
	width: 470px;
	height: 88px;
	background-color: #B2AE9C;
	padding-bottom: 20px;
	padding-top: 30px;
	margin-top: 110px;
	margin-left: 225px;
	margin-bottom: 20px;
	border-radius: 12px;
	vertical-align: middle;
	
		
}


.go-bussines .text-span{
	margin-left: 20px;
	margin-right: 15px;
	color:#fff;
	float: left;
	font-size: 18px;
	
}




.get-in-text{
	font-family: Roboto,sans-serif;
    color: #fff;
	font-size: 14px;
    line-height: 20px;
	//margin-left: 200px;
	text-align: center;
	margin-top: 40px;
	
	
}

.home-row-bottom .get-in-h1{
	margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 0;
    padding-left: 0;
    font-family: 'tahoma','PT Sans',sans-serif;
    font-size: 40px;
    font-weight: 700px;
	color: #082627;
}


.home-row-bottom .get-in-p{
	margin-top: 15px;
    margin-bottom: 10px;
	margin-left: 60px;
    padding-top: 0;
    padding-left: 0;
    font-family: 'tahoma','PT Sans',sans-serif;
    font-size: 28px;
    font-weight: 400px;
	color: #082627;
}


.bussines-btn{
	background-color: #41AB7C;
	color: #fff;
	width: 150px;
	height: 50px;
	border-radius: 4px;
	margin-left: 20px;
	margin-top: -8px;
	font-size: 18px;
	font-weight: 700;
	opacity: .8;
	border: 1px solid #41AB7C;
	
}



.bussines-btn:hover{
	background-color: #41AB7C;
	color: #fff;
	width: 150px;
	height: 50px;
	border-radius: 4px;
	margin-left: 20px;
	margin-top: -8px;
	font-size: 18px;
	font-weight: 700;
	opacity: 1;
	border: 1px solid #41AB7C;
	
}



.home{
	/*background-color: #1fd188;*/
	padding-top: 5px;
	max-height: 860px;
	background-image:url(../img/intro.jpg);
	background-size: cover;

	font-family:Roboto,sans-serif;
	color:#fff

}

.head{
	padding-top: 5px;
	padding-bottom: 0px;
}

.home-row-top{
	border-bottom: 1px solid #fff;
	opacity: .8;
	max-width: 940px;
	max-height: 61px;
	overflow: hidden;
	
}

.home-row-top:hover{ 
	border-bottom: 1px solid #fff;
	opacity: 1;
	max-width: 940px;
	overflow: hidden;
	text-align: center;
}





/* Start Features section */

.features{
	background-color: #E9E5DE;
}

.wise-words{
	margin-top: -20px;
	margin-bottom: 40px;
	height: 90px;
	text-align: center;
    font-size: 20px;
    color: #082627;
	
}




/* end Features section */





.img-companies{
	display: block;
}

.img-comp{
	
	width: 380px;
	height:365px;
	float: right;
}


.home-row-bottom{
	padding-bottom: 10px;
}



.text{
	margin-top: 34px;
    margin-bottom: 72px;
    padding-right: 138px;
    font-family: Roboto,sans-serif;
    font-size: 25px;
    line-height: 39px;
    font-weight: 300px;
    text-transform: none;
}



/* end home section*/

/* start serach section*/



.serch-connect .partener-nav{
	border-bottom: 1px solid #F5F5F5;
    background-color: #f5f5f5;
	height: 90px;
	width: 940px;
	
}


.serch-connect{
	background-color:#f5f5f5;
	padding-top:5px;
	padding-bottom:80px;
}

.text-block{
	margin-bottom: 20px;
}

.partener-logo{
	display: block;
	width: 100px;
	padding-top: 2px;
    padding-right: 13px;
    padding-left: 13px;
    float: none;
	
}

.share-btn{
	widows: 150px;
	height:50px;
	float: left;
	border-radius: 10px;
	background-color: #5cc489;
		
}

.left-arrow{
	width: 50px;
	float: left;
	opacity: 1;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	color: #333;
    transition: opacity 2000ms;
	
}
 p {
	
	margin-top: 10px;
}
/* end serach section*/

/* start onboard section*/


.get-onboard{
	background-color: #1fd188;
	color: beige;
	padding-bottom:80px;
	padding-top:80px;
}
.smart{
	color: beige;
	padding-top:20px; 
	float: right;
	margin-left: -100px;
}
.onboard-text{
	padding-bottom:20px;
	float: right;
	
}

.onboard-btn{
	height: 50px;
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 1.435px;
	background-color: #fff;
	border-radius: 7px;
	color: #000;
}

.up-arrow{
	width: 50px;
	height: 46px;
	opacity: 1;
	display: inline-block;
    margin-top: 70px;
    margin-left: -20px;
    padding-left: 0;
    float: left;
    transition: opacity 2000ms;
}


/* start search section*/

.update{
	padding-bottom: 80px;
	padding-top: 80px;
	background-color:#D9EDF7;
	border-bottom: 2px solid #F5F5F5;
	
}

.update-img{
	width: 500px;
	height: 200px;
}



/* end search section*/

/* satart download section*/

.download{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color:#f5f5f5;
}


.download-right{
	padding-left: 20px;
	padding-right: 20px;
	font-family: Roboto,sans-serif;
	
}

.get-app-text{
	margin-top: 0;
    margin-bottom: 26px;
    padding: 19px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #fff;
    color: rgba(64,67,81,.5);
    font-weight: 700;
}



.save-it-text{
	margin-top: 0;
    margin-bottom: 26px;
    padding: 19px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #fff;
    color: rgba(64,67,81,.5);
    font-weight: 700;	
}

.save-it-img{
	text-align: center;
	width: 117px;
	height: 97px;
	margin: auto;
	margin-bottom: 25px;
	
	
}

.download-left{
	padding-left: 20px;
	padding-right: 20px;
	font-family: tahoma,sans-serif;
}

.get-link{
	width: 388px;
	margin: auto;
    padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
	display: block;
	line-height: 20px;
	
}

.sms-link{
	width: 200px;
    height: 50px;
    margin-bottom: 0;
    float: left;
    border: 1px solid #1fd188;
    border-radius: 3px 0 0 3px;
	display: block;
	color: #333;
}

.sms-btn-link{
	width: 110px;
    height: 50px;
    padding-top: 9px;
    font-size: 11px;
    letter-spacing: 1px;
	border: 0 #1fd188;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #1fd188;
    font-weight: 700;
	display: block;
	color: #fff;
	
}





/* end download section*/

